@page "/binarytree"

<h3>BinaryTree</h3>

<div class="tree">
    <ul>
        <li>
            <a href="#">1</a>
            <ul>
                <li>
                    <a href="#">2</a>
                    <ul>
                        <li>
                            <a href="#">2.1</a>

                        </li>
                        <li>
                            <a href="#">2.2</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">3</a>
                    <ul>
                        <ul>
                            <li>
                                <a href="#">3.1</a>
                                <ul>
                                    <li>
                                        <a href="#">3.1.1</a>
                                    </li>
                                    <li>
                                        <a href="#">3.1.2</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">3.2</a>
                            </li>
                        </ul>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>

@code {
    //https://codepen.io/anggaand123/pen/wexprZ
}
