@page "/stack"

@inject StackService StackService

<h3>Stack <span class="badge badge-info">@StackService.Count</span></h3>

<button class="btn btn-primary" @onclick="Push">Push</button>

<button class="btn btn-warning" @onclick="Pop">Pop</button>

<button class="btn btn-danger" @onclick="Clear">Clear</button>

<div style="margin-top: 20px">

    @while (List.MoveNext())
    {
        if (List.Current == StackService.Head)
        {
            <Node Value="@List.Current.Value" Color="lightsteelblue" />
        }
        else
        {
            <Node Value="@List.Current.Value" />
        }
    }
</div>

@code {
    private IEnumerator<LinkedListNode> List { get; set; }

    private void Push()
    {
        StackService.Add(new Random().Next(100));
        UpdateList();
    }

    private void Pop()
    {
        StackService.Remove();
        UpdateList();
    }

    private void Clear()
    {
        StackService.Clear();
        UpdateList();
    }

    private void UpdateList()
    {
        List = StackService.GetEnumerator();
    }

    protected override void OnInitialized()
    {
        UpdateList();
    }
}
